:root[color-mode="light"] {
    background-color: #E7FCFF;
    --dark: #4A4453;
}

:root[color-mode="dark"] {
    background-color: #282a36;

}

:root[color-mode="light"] .light-hidden {
    display: none;
}

:root[color-mode="dark"] .dark-hidden {
    display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    color: #6272a4;
    text-decoration: none;
    
}

a:link {
    color: #6272a4;
}

a:active {
    color: #bd93f9;
}

a:hover {
    color: #B18BEF;
}

body, html {
    height: 100%;
    padding: 60px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #282a36;
    background-color: var(--surface1, #E7FCFF);
}

.login {
    width: 60%;
    margin: 0 auto;
}

.login input[type="password"],
.login input[type="username"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d7dbee;
    margin-bottom: 4%;
    box-sizing: border-box;
}

.login button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.register
{
    width: 60%;
    margin: 0 auto;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="username"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d7dbee;
    margin-bottom: 4%;
    box-sizing: border-box;
}

/* Disallow access if there's no JavaScript */
.no-js main {
    display: none !important;
  }

.jumbotron {
    padding: 3rem;
    
    background-color: #cee3ed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #dbd9d9;
}
.parallax {
    /* The image used */
    background-image: url("./imgs/");
  
    /* Set a specific height */
    min-height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
   
  .leftside{
      height:100vh;
      width:100%;
      background: #cee3ed;
  }
  
  .rightside{
      height:100vh;
      width:100%;
      background:#d7dbee;

  }

  