:root[color-mode="light"] {

}

:root[color-mode="dark"] {

}

:root[color-mode="light"] .light-hidden {
    display: none;
}

:root[color-mode="dark"] .dark-hidden {
    display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    float: right;
}
a {
    display: block;
    padding: 8px;
}
body, html {
    height: 100%;
    padding: 60px;
}

jumbotron {
    background-color: aliceblue;
}

.parallax {
    /* The image used */
    background-image: url("imgs/");
  
    /* Set a specific height */
    min-height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  