:root[color-mode="light"] {
    background-color: #f8f8f2;
}

:root[color-mode="dark"] {
    background-color: #282a36;

}

:root[color-mode="light"] .light-hidden {
    display: none;
}

:root[color-mode="dark"] .dark-hidden {
    display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    color: #6272a4;
    text-decoration: none;
    
}

a:link {
    color: #6272a4;
}

a:active {
    color: #bd93f9;
}

a:hover {
    color: white;
}

body, html {
    height: 100%;
    padding: 60px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #282a36;
    background-color: var(--surface1, #f8f8f2);
}

.login {
    width: 60%;
    margin: 0 auto;
}

.login input[type="password"],
.login input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 
}

.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

jumbotron {
    background-color: aliceblue;
}

.parallax {
    /* The image used */
    background-image: url("./imgs/");
  
    /* Set a specific height */
    min-height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  